css:
.container-fluid {
  background-color:skyblue;
  padding: 20px;
}
.header {
  background-color: blue;
  padding: 20px;
  height:200px;
  border: 2px solid gray;
}

.nav {
  background-color:cadetblue;
  padding:20px;
  height:100px;
  border: 2px solid yellow;
}
.content {
  background-color:gainsboro;
  padding:20px;
  height:200px;
  border: 2px solid black;
}

.aside {
  background-color:gray;
  padding:20px;
  height:200px;
  border: 2px solid red;
}

.total {
  background-color:dimgrey;
  padding:10px;
  height:250px;
  border: 2px solid aqua;
}

.row3{
    display:flex;
    justify-content:flex-start;
}
.one{
    height: 40px;
    width:50px;
}

.footer {
  background-color:gold;
  padding: 20px;
  height:200px;
  border: 2px solid blue;
/*  color:white;*/
}



/*MEDIA QUERIES*/

@media screen and (min-width:1033px) (max-width:921px){
    .footer{
        background-color:gold;
    }
}

@media screen and (min-width:833px){
.footer{
	background-color:orange;
   }
}
@media screen and (min-width:768px){
        .footer{
            background-color:coral;
        }
    }
@media screen and (min-width:460px){
	.footer{
		background-color:purple;
	}
    
}

@media screen and (min-width:375px){
  .footer{
    background-color:white;
  }
}
